/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
  font-family: 'Visitor';
  src: url('/fonts/visitor-brk.visitor-tt2-brk.ttf'); /* IE9 Compat Modes */
  src:url('/fonts/visitor-brk.visitor-tt2-brk.ttf')  format('truetype'), /* Safari, Android, iOS */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color:#351500;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  background-color: #fef8e8;
  line-height: 1.5;
  font-size: 1em;
  font-family: 'Ubuntu','Helvetica Neue',Helvetica,Arial,STHeiti,'Microsoft JhengHei','微軟正黑體',sans-serif;
}
h2{
   font-size: 1.5em;
   font-weight: 700;
   font-family: 'Visitor','Helvetica Neue',Helvetica,Arial,STHeiti,'Microsoft JhengHei','微軟正黑體',sans-serif;
   text-align: center;
}
a{
  text-decoration: none;
}
#wrapper{
   width: 100%;
   max-width: 680px;
   margin: 0 auto;
}


header{

margin: 0px 0px 30px 0px;
padding-top: 30px;

}

div.logo{
   text-align: center;
   margin: 30px 0px 30px 0px;
}
div.logo img{
   width: 200px;
}
div.plaintext{
  margin:0px 30px 50px 30px;
}
div.plaintext p{
  margin-bottom: 10px;

}
div.icons{
   width:90px;
   margin:0 auto;
}
div.icons img{
  width: 24px;
}
div.icons img,div.icons a{
display: inline-block;
}
div.icons a{
	margin-left: 12px;
}

div.icons a:first-child{
   

}
div.presskit{
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.8em;
}
div.noice2d_intro{
	font-size: 1.2em;
}
.padding20{
	padding: 0 20px;
}
.lightheight2{
	line-height: 2;
}
.marginbtn30{
   margin-bottom: 30px;
}
div.gameimages{
  width: 540px;
  margin:0 auto;
  margin-bottom: 50px;
}
div.gameimages a{
  display: block;
  width: 260px;
  float: left;
  background-color: #ffeee2;
  margin-left: 20px;
  padding: 10px 0px;
  color:#000;
  margin-bottom: 10px;
}
div.gameimages a:hover{
  background-color: #ffe6d5;
}
div.gameimages a:first-child{
  margin-left: 0px;
}
div.gameimages a>div{
    text-align: center;
}
div.gameimages a>div img{
  width: 240px;
  display: inline-block;
}

div.gameimages h1{
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}
div.gameimages img.platform{
  width: 20px;
}
div.gameimages p.date{
  margin-top: 20px;
}
img.platform{
  width: 20px;
}

footer{
  text-align: center;
  padding:150px 0px 30px 0px;
  font-size: 0.8em;
}
body.dark{
	color:#dbeffe;
}

div.gameimages.prod div img{
   display: inline-block;
   border-radius: 30px;
   max-width: 250px; 
   border:1px solid #efefef;
}
div.gameimages.prod div a img{
   border-radius: 0px;
   border:none;

}
div.prod_description, h3{
	width: 80%;
	min-width: 300px;
	margin:0 auto;
	margin-bottom: 30px;
	text-align: left;
}
h3{
	font-size: 1.3em;
	font-weight: bold;
}
div.prod.centerimg{
	text-align: center;
}
div.prod.centerimg img{
display: inline-block;
width: 100%;
max-width: 473px;
}
.center{
	text-align: center;
}
div.sceenshot img{
   border-radius: 30px;
}
div.demobtn{
    max-width: 80%;
    margin: 0 auto;
    background: #fff700;
    line-height: 60px;
    border-radius: 10px;
    margin-top: 10px;
    color: #000;
    border: 3px solid #fbff5f;
    font-size: 22px;
       
}

.prod header {
    margin: 0px 0px 30px 0px;
    padding-top: 8px;
}
.prod div.logo img {
    width: 50px;
}
.prod div.icons {
  display: none;
}


.topbar{
  background-color: #000;
  height:50px;
}
.topbar a{
  display: inline-block;
  padding: 13px 13px 0px 0px;
}
.topbar a:first-child{
  display: inline-block;
  padding-left: 13px;
}
.topbar a.fb{
  padding-left: 2px;
}
.topbar a.home img{
  width: 21px;
}
.topbar a.twitter img{
  width: 20px;
}
.topbar a.fb img{
  width: 10px;
}
.topbar a.presskit{
  color: #fff;
  font-size: 12px;
  
  float: right;
  padding-right: 0px;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
  margin-right: 16px;
}
.onlinetext{
  width: 85%;
  margin:0 auto;
  max-width: 540px;
  background-color: #ffeee2;
  margin-bottom: 10px;
}
.onlinetext p {
  line-height: 45px;

}
.onlinetext p span{
  display: block;
  width: 175px;
  line-height: 45px;
  margin: 0 auto;
}
.onlinetext p span.mail{
  background-image: url("/images/icons/mail_black.png");
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px; 
  background-position: 0px 14px;
}
.onlinetext p span.twitter{
  background-image: url("/images/icons/tw_black.png");
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px; 
  background-position: 0px 14px;
}
.onlinetext p span.facebook{
  background-image: url("/images/icons/fb_black.png");
  background-repeat: no-repeat;
  background-size: 10px;
  padding-left: 40px; 
  background-position: 5px 12px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@media screen and (max-width: 540px) and (min-width: 320px) {
    div.gameimages{
      width: 260px;
    }
    div.gameimages a{
      float: none;
      margin-left:0px; 
    }
}