body.takobubble{
  background-image: url(images/bg_top1.gif); 
  background-repeat: repeat-x;
  background-position: center 0px;
}
.takobubble_logo{
  max-width: 320px;
  margin: 0px auto;
  text-align: center;
  padding: 5px 0px 0px 0px;
  position: relative;
}
.takobubble_logo .outnow{
  position: absolute;
  width: 80px;
  right: 9px;
  top: 20px;
}
.takobubble_logo .outnow img{
  width: 100%;
}
.takobubble_logo img{
   width:300px;
   max-width: 80%;
   display: block;
   margin: 0px auto;
}
.takobubble_releasedata{
  width: 190px;
  margin: 0px auto;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}
.takobubble_releasedata img{
  vertical-align: text-bottom;
}
.playbutton{
  width: 320px;
  background-color: #ffdd00;
  color: #000;
  margin: 0px auto;
 /* font-family: "Visitor";*/
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  line-height: 1.8;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
.playbutton span{
  padding-left:100px;
}
.playbutton img {
  display: block;
  position: absolute;
  width: 25px;
  left:63px;
  top : 2px;

}
.playbutton:hover{
  background-color: #ffcc00;
}
.download_btns{
   width: 330px;
  margin: 0px auto;
  background-color: #ffdd00;
  border-radius: 5px;
  margin-top: 5px;
}
.download_btns:hover{
 background-color: #ffcc00;

}
.download_btns a{
  display: block;
  width: 155px;
  float: left;
  margin: 5px 0px 5px 6px;
}

.download_btns a img {
  width: 100%;
  display: block;
}
.screenshots_list{
  width: 650px;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom:50px;
}
.screenshots_list img{
  display: block;
  border:10px solid #0e3856;
  float: left;
  
  margin-bottom: 10px;
}
.screenshots_list img:nth-child(even){
  margin-left:10px;
}
@media screen and (max-width: 650px) and (min-width: 320px) {
    div.screenshots_list{
      width: 320px;
    }
    div.screenshots_list img:nth-child(even){
      float: none;
      margin-left:0px;
    }
    .download_btns{
      width: 320px;
      padding-top: 5px;
    }
    .download_btns a{
      margin-top: 0px;
      width: 151px;
    }
    
}